.dataTables_length{
    margin-top: 15px;
}
.margin-table{
    margin: 20px 20px 20px 20px;
}


table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    display: none;
}